@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fybr48');
  src:  url('fonts/icomoon.eot?fybr48#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fybr48') format('truetype'),
    url('fonts/icomoon.woff?fybr48') format('woff'),
    url('fonts/icomoon.svg?fybr48#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e908";
}
.icon-pin_drop:before {
  content: "\e900";
}
.icon-shield:before {
  content: "\e901";
}
.icon-schedule_FILL0_wght400_GRAD0_opsz48:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e902";
}
.icon-visibility:before {
  content: "\e903";
}
.icon-local:before {
  content: "\e904";
}
.icon-person:before {
  content: "\e905";
}
.icon-credit_card:before {
  content: "\e906";
}
