@import "./variables";
@import "./mixin";


.G-cursor-pointer {
  cursor : pointer;
}

::-webkit-scrollbar {
  width            : 5px;
  height           : 5px;
  background-color : white;
}


/* Handle */
::-webkit-scrollbar-thumb {
  border-radius : 20px;
}


.G-container {
  max-width : 1200px;
  width     : 100%;
  padding   : 0 15px;
  margin    : 0 auto;

}

.G-container-header {
  max-width: 1400px;
  width     : 100%;
  padding   : 0 15px;
  margin: 0 auto;
}

.G-image-cover {
  background-position : center;
  background-size     : cover;
  background-repeat   : no-repeat;
}

.G-image-contain {
  background-position : center;
  background-size     : contain;
  background-repeat   : no-repeat;
}

.G-title {
  text-align: center;
}
.G-button {
     background-color: $main;
     border: 1px solid $main;
     color: $white;
     max-width: 190px;
     width: 100%;
     padding: 15px;
     margin: 15px auto;
     display: flex;
     justify-content: center;
     font-size: 24px;
}
.G-button-outline {
    background-color: transparent;
    border: 1px solid $main;
    max-width: 190px;
    width: 100%;
    padding: 15px;
    font-size: 24px;
    justify-content: center;
    margin: 15px auto;
    display: flex;
}