@import './mixin.scss';
@import './variables.scss';

@include screen-max-width-1200{
      
}
@include screen-max-width-991 {
    
}
@include screen-max-width-767{
    
}
@include screen-max-width-576 {
    
}