body {
  font: 400 1rem/1.625rem "Open Sans",sans-serif;
}

.P-header-general {
  padding: 30px 90px;
  background-color: #5f4dee;
  width: 100%;
  position: fixed;
  z-index: 999;
}

@media (max-width: 767px) {

}

@media (max-width: 576px) {

}



@media (max-width: 991px) {

}




@media (max-width: 1200px) {
}

@media (max-width: 991px) {

}

@media (max-width: 576px) {
  }
}
