@import "./variables.scss";
@import "./mixin.scss";

//  HEADER-STYLE START

body {
  font: 400 1rem/1.625rem "Open Sans",sans-serif;
}
.P-header-general {  
  padding: 30px 90px;
  background-color: $main;
  width: 100%;
  position: fixed;
  z-index: 999; 
  @include screen-max-width-767{
    padding: 15px 30px;
  }
  @include screen-max-width-576 {
    padding: 10px 20px;
  }
}
.P-animation-header {
  box-shadow       : 0 0 15px -8px rgba(0, 0, 0, 0.5);
  background-color: $main;
  padding: 10px 90px;
}
.P-header-info {
  font: 700 0.875rem/0.875rem "Open Sans", sans-serif;

   li {
     margin-right: 15px;
     a {
    color: $white01 ;
     }
   }
 }

 .P-logo {
   width: 70px;
   height: 28px;
 }
 .P-log-in {
   a {
   color: $white;
   border: 2px solid $white;
   border-radius: 36rem;
   padding: 3px 18px;
   }
 }
 .pages-menu {
  display: block;
  position: absolute;
  min-width: auto;
  width: 195px;
  background-color: $main;
  color: $white02;
  opacity: 0;
  visibility: hidden;
  left: 100%;
  top: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  border-radius: 4px;
  padding-top: 15px;
  margin: 15px 0;
   a {
    opacity: 0.8;
    font: 700 0.875rem/0.875rem "Open Sans",sans-serif;
    padding: 15px;
   }
   
   li {
    border-bottom: 1px solid $white02;
    margin-left: 10px;
  }
 }
 .P-pages-menu:hover .pages-menu {
   visibility: visible;
   opacity: 1;
 }
 .P-pages-menu {   
  position: relative;
 }
 .pages-menu {
   a:hover {
    color: $white;
    opacity: 1;
  }
 }
 .pages-hover {
  padding-right: 15px;
}
 .P-triangle:after{
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $white01;
   position: absolute;
   content: '';
   top: 35%;
   left: 90%;
 }
 .P-log-in:hover {
   a {
    border: 2px solid $white;
    background-color: $white;
    color: $main ;
   }
 }
 .P-header-hidden {
  @include screen-max-width-991 {
    display: none;
   }
 }
 .P-burger {
   display: none;
   @include screen-max-width-991 {
   display: block;
   color: $white; 
   font-size: 36px;
  }
 }
 .P-header-menu {
   a {
     opacity: 0.8;
   }
   a:hover {
     opacity: 1;
   }
 }

 //  HEADER-STYLE END

 //  SECTION-STYLE START

 .P-section-main {
   background-color: $main;
   color: $white;
   position: relative;
 }
 .P-section-block {
   padding-top: 175px;

   @include screen-max-width-1200{
    padding-top: 120px;
  }

   @include screen-max-width-991 {
    display: block;
    text-align: center;
    align-items: center;
    padding-top: 50px;
  }
 }
 .P-section-img  {
   max-width: 630px;
   width: 100%;

   @include screen-max-width-991 {
    width: 70%;
    margin: 0 auto;
  }
  @include screen-max-width-576 {
   width: 100%; 
  }
 }
 .P-section-box {
   width: 50%;
   padding-top: 60px;
   padding-right: 15px;
   padding-left: 30px;

   p {
    @include screen-max-width-767{
    width: 60%;
    margin: 0 auto;
    }
    @include screen-max-width-576 {
      width: 100%;
      font-size: 15px;
    }
   }
   @include screen-max-width-1200{
    padding-top: 0;
    padding-right: 0;
  }
   @include screen-max-width-991 {
    width: 100%;
    padding-top: 50px;
  }
  @include screen-max-width-576 {
    padding-left: 0;
  }

   h1 {
     font-size: 56px;
     line-height: 1.2;
     font-weight: 700;
     padding-bottom: 15px;
     @include screen-max-width-991 {
      font-weight: 550;
      letter-spacing: 2px;
    }
    @include screen-max-width-767{
    font-size: 36px;
    }
    @include screen-max-width-576 {
     font-size: 34px;
    }
   }

   button {
     font-size: 12px;
     margin-top: 25px;
     padding: 6px 30px;
     border-radius: 20px;
     border: 2px solid $white;
     transition: 0.3s;
     a {
      color: $main;
     }
   }
   button:hover {
    background-color: $main;
    transition: 0.3s;
    a {
    color: white;
   }
   }
 }

 svg {
   margin-top: -1px;
 }
//  SECTION-STYLE END

//  SECTION-SLIDE START

.P-slider-block {
  img {
    margin: 0 auto;
  }
  margin: 90px 0;
  @include screen-max-width-1200{
    margin: 70px 0;
  }
  @include screen-max-width-991 {
    margin: 50px 0;
  }
  @include screen-max-width-767{
    margin: 40px 0;
  }
  @include screen-max-width-576 {
    margin: 30px 0;
  }
}
.slick-next,.slick-prev {
  display: none !important;
}
//  SECTION-SLIDE END

//  SECTION-DESCRIPTION START 
.P-section-titel {
      text-align: center;
      margin-top: 15px;
      font: 700 1.375rem/1.75rem "Open Sans",sans-serif;
      @include screen-max-width-576 {
        margin-top: 0;
      }
  h5 {
    font-size: 12px;
    color: $main;
  }
  h2 {
    font-size: 32px;
    width: 50%;
    margin: 0 auto;
    line-height: 1.2;
    color: $black01;
    @include screen-max-width-991 {
    width: 90%;
    }
    @include screen-max-width-767{
    font-size: 28px;
    }
    @include screen-max-width-576{
      font-size: 18px;
      }
  }
}

.P-lists-block {
  margin: 50px 0px;

  @include screen-max-width-991 {
    display: block;
    margin: 30px 0px;
  }
  @include screen-max-width-767{
    margin: 15px 0;
    }
}
.P-lists-padding {
  padding: 5px;
  width: 30%;
  @include screen-max-width-991 {
    width: 100%;
  }
}
.P-lists-box {
  width: 100%;
  text-align: center;
  @include screen-max-width-991 {
    width: 100%;
  }
  @include screen-max-width-767{
    width: 60%;
    margin: 0 auto;
  }
  @include screen-max-width-576 {
    width: 100%;
  }
  h2 {
  margin-bottom: 9px;
  font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
  @include screen-max-width-576 {
    font-size: 20px;
  }
  }
  p {
    color: $black01;
    @include screen-max-width-576 {
      font-size: 15px;
    line-height: 1.3;
    }
  }
  img {
    padding: 0 55px;
  }
}
//  SECTION-DESCRIPTION END
.P-section-features {
  padding: 60px 0;
  background-color: $gray01 ;
  @include screen-max-width-767 {
    padding: 30px 0;
     }
  @include screen-max-width-576 {
   padding: 15px 0;
    }
}
.P-section-titel {
  p {
    color: $black01;
    width: 65%;
    margin: 0 auto;
    font-size: 16px;
    opacity: 0.8;
    margin-top: 15px;
    @include screen-max-width-576 {
    width: 100%;
    font-size: 15px;
    line-height: 1.3;
    }
  }
}
 .P-links-active {
   a {
    color: $main;
    border-bottom: 3px solid $main;
    @include screen-max-width-991 {
      border-bottom: none;
    }
   }
 }
 .P-links-hover {
   a {
    color: $black01;
    border-bottom: 3px solid $black01;
    @include screen-max-width-991 {
      border-bottom: none;
    }
   }
 }

 .P-links-hover:hover {
  a {
    color: $main;
    border-bottom: 3px solid $main;
  }
 }
.P-features-links {
  padding-top: 30px;
  @include screen-max-width-991 {
    display: block;
  }
  @include screen-max-width-576 {
    padding-top: 10px;
  }
  a {
    padding: 7px 15px;
    @include screen-max-width-576 {
     font-size: 18px;
     padding: 0;
    }
  }
}
.P-list-box {
   width: 48%;
  @include screen-max-width-991 {
    width: 100%;
    padding: 25px 45px;
  }
  @include screen-max-width-767 {
    padding: 10px 90px;
   }

  @include screen-max-width-576 {
    padding: 0 25px;
   }

   img {
    @include screen-max-width-576 {
      margin: 15px 0;
     } 
   }
  p {
   color: $black01;
   margin-bottom: 15px;
   @include screen-max-width-576 {
    font-size: 15px;
    line-height: 1.4;
   } 
   a {
     color: $main;
     border-bottom: 1px solid $main;
   }
   a:hover {
     color: $black;
     opacity: 0.8;
     border-bottom: 1px solid $black;
   }

  }

  button {
    background-color: $main;
    font-size: 12px;
    margin-top: 10px;
    padding: 6px 30px;
    border-radius: 30px;
    border: 2px solid $main;
    transition: 0.3s;
    a {
     color: $white;
    }
  }
  button:hover {
   background-color: $white;
   transition: 0.3s;
   a {
   color: $main;
  }
  }
}
.P-square:before{
  width: 7px;
  height: 7px;
  background-color: $main;
  position: absolute;
  content: '';
  top: 40%;
  left: 0;
}
.P-featues-block {
  margin-top: 30px;
  @include screen-max-width-991 {
    display: block;
  }
  @include screen-max-width-576 {
    margin: 15px 0;
  }
  .P-block-margin{
    margin-right: 35px;
    @include screen-max-width-991 {
      margin-right: 0;
    }
    h2 {
      margin-bottom: 10px;
      color: $black01;
      font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
      @include screen-max-width-576 {
     font-size: 20px;
     text-align: center;
     line-height: 1.2;
      }
    }
    ul {
      color: $black01;
      line-height: 1.8;
      @include screen-max-width-576 {
     line-height: 1.4;
     font-size: 15px;
      }
      li {
        position: relative;
        padding-left: 14px;
      }
    }
  }
  }
  .P-section-solution {
    padding: 80px 0;
    @include screen-max-width-991 {
      padding: 70px 0;
    }
    @include screen-max-width-767{
      padding: 30px 0;
    }
    @include screen-max-width-576{
      padding: 15px 0;
    }
  }

  .P-section-video {
    background-color: $gray01;
    padding: 90px 0;
    @include screen-max-width-991 {
      padding: 70px 0;
    }
    @include screen-max-width-767{
      padding: 30px 0;
    }
    @include screen-max-width-576{
      padding: 15px 0;
    }
  }

  .P-img-video {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    img {
      border-radius: 16px;
      @include screen-max-width-767{
        padding: 50px;
      }
    }
    p{
      color: $black01;
      width: 100%;
      max-width: 86%;
      margin: 0 auto;
      padding: 20px 0; 
      
      @include screen-max-width-767{
        padding: 0;
      }
      @include screen-max-width-576{
        font-size: 15px;
        line-height: 1.4;
      }
    }
  }
  
  .P-table-box {
    width: 100%;
    margin-top: 50px;
    border: 1px solid $black01;
    border-radius: 6px;
    line-height: 2.2;
    padding: 50px;

    @include screen-max-width-1200{
      padding: 25px;
    }
    @include screen-max-width-991 {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    }
    @include screen-max-width-576 {
      width: 100%;
      padding: 10px;
      }
    .P-price {
      margin-bottom: 15px;
      text-align: center;
      @include screen-max-width-576{
        margin-bottom: 0;
         }
      h2 {
        font: 700 1.125rem/1.5rem "Open Sans", sans-serif;
        color: $main;
      }
      .price {
        font: 700 3.25rem/3.5rem "Open Sans", sans-serif;
        opacity: 0.7;
        @include screen-max-width-991{
         font-size: 40px;
          }
      }
    }
  }
  .P-section-pricing-table {
    padding: 80px 0 ;

    @include screen-max-width-991{
      padding: 60px 0;
      }
    @include screen-max-width-767{
    padding: 40px 0;
    }
    @include screen-max-width-576{
      padding: 20px 0;
      }
  }
  .P-table-block {
    @include screen-max-width-991 {
      flex-wrap: wrap;
  }
  }
  .P-table-box-padding {
    width: 33.3%;
    padding: 25px;

    @include screen-max-width-991 {
      width: 50%;
      padding: 15px;
      margin: 0 auto;
  }
    @include screen-max-width-576 {
    width: 100%;
    text-align: center;
    }
  }

  .icon-done {
    color: $main;
  }

   .P-table-list {
    width: 100%;
    margin: 0 auto;

    ul {
      border-top: 1px solid;
      padding: 10px 0;
      opacity: 0.8;
      @include screen-max-width-576 {
      font-size: 15px;
      }
    }
   }

   .P-button {
     text-align: center;
     button {
      background-color: $main;
      font-size: 12px;
      margin-top: 10px;
      padding: 6px 30px;
      border-radius: 30px;
      border: 2px solid $main;
      transition: 0.3s;
      a {
       color: $white;
      }
    }
    button:hover {
     background-color: $white;
     transition: 0.3s;
     a {
     color: $main;
    }
    }
   }

  .P-slide-img {
    width: 20%;
    @include screen-max-width-991 {
    margin: 0 auto;
    }
    @include screen-max-width-576 {
    width: 50%;
    }
  }

  .P-section-slide {
    @include screen-max-width-991 {
     display: block;
    }
  }
   .P-slide-testimonial {
     margin: 0 55px;
     padding-bottom: 80px;

     @include screen-max-width-767 {
      margin: 0 20px;
      padding-bottom: 20px;
     }
     @include screen-max-width-576 {
      margin: 0;
      padding-bottom: 20px;
     }
     img {
       border-radius: 50%;
       @include screen-max-width-576 {
        width: 120px;
        height: 120px;
        margin: 0 auto;
       }
     }
   }
 
   .P-slide-text {
     width: 80%;
     @include screen-max-width-991 {
    text-align: center;
    margin: 0 auto;
    }
    @include screen-max-width-767 {
    width: 100%;
    }
    p {
      font: italic 400 1rem/1.625rem "Open Sans", sans-serif;
      opacity: 0.6;
      line-height: 1.2;
      padding: 10px 30px;
      @include screen-max-width-576 {
        padding: 5px;
        font-size: 13px;
        line-height: 1.3;
        }
    }
    h3 {
      padding: 5px 30px;
      font: 700 1rem/1.625rem "Open Sans", sans-serif;
      @include screen-max-width-576 {
        padding: 0;
        font-size: 15px;
        }
    }
  }

  .P-section-email {
    background-color: $gray01;
    padding: 80px 0;
    border-radius: 8px;
    @include screen-max-width-576 {
      padding: 20px 0;
      }
  }

  .P-email {
    width: 40%;
    margin: 0 auto;
    padding-top: 35px;
    @include screen-max-width-991 {
    width: 60%;
    }
    @include screen-max-width-576 {
    width: 90%;
    padding-top: 20px;
    }

    button {
      width: 100%;
      background-color: $main;
      color: $white;
      padding: 6px 30px;
      border: 1px solid $main;
      border-radius: 30px;
      transition: 0.3s;
    }
    button:hover{
      background-color: $white;
      color: $main;
      transition: 0.3s;
    }
  }
  .P-email-label {
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #c4d8dc;
      border-radius: 4px;
    }
  }

  .P-checkbox {
    font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
    margin: 15px 0;
    @include screen-max-width-576 {
    font-size: 12px;
    margin: 9px 0;
    }
  }

  .P-social {
    margin: 80px 0;
    @include screen-max-width-576 {
      margin: 25px 0;
      }
    li {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
      background-color: $main;
      @include screen-max-width-576 {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        }
      a {
        color: $white;
        font-size: 30px;
        @include screen-max-width-576 {
          font-size: 20px;
          }
      }
    }
  }
  .P-footer {
    background-color: $main;
    margin-top: -10px;
    color: $white;

  .P-footer-info {
    padding: 60px 0;
    border-bottom: 1px solid #718ad1;

    @include screen-max-width-991 {
     padding: 40px 0;
    }
     @include screen-max-width-767{
    flex-wrap: wrap;
    }
    @include screen-max-width-576{
      display: block;
      padding: 20px 0;
      }
    h2 {
      font: 700 1.375rem/1.75rem "Open Sans", sans-serif;
      letter-spacing: -0.1px;
      @include screen-max-width-991 {
      margin-top: 25px;
      }
      @include screen-max-width-576{
        font-size: 20px;
        }
    }
  }
  }
.P-footer-box{
  @include screen-max-width-991 {
    width: 33.3%;
  }
  @include screen-max-width-767{
    width: 50%;
    margin: 0 auto;
  }
  @include screen-max-width-576{
    width: 100%;
  }
  p {
    @include screen-max-width-576{
      font-size: 13px;
    }
  }
}
 .P-square-footer {
   position: relative;
   padding-left: 15px;
 }
  .P-square-footer:before{
    width: 7px;
    height: 7px;
    background-color: $white;
    position: absolute;
    content: '';
    top: 40%;
    left: 0;
  }
  .P-footer-end {
    text-align: center;
    padding: 30px 0;
    @include screen-max-width-576 {
      padding: 15px 0;
    }
  }
  .P-small {
    font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
  }
  .P-contact {
    a {
      color: $white;
      font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
    }
    span {
      margin: 5px;
    }
  }

  //  HEADER SIGN UP-STYLE START
  .P-section-SignUp {
    background-color: $main;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    padding: 60px 0 15px 0;
    }

  .P-sign-title {
    p {
      max-width: 32%;
      width: 100%;
      margin: 0 auto;
        @include screen-max-width-576 {
        font-size: 15px;
        line-height: 1.4;
        }
      font: 400 1rem/1.625rem "Open Sans", sans-serif;
      @include screen-max-width-767 {
        max-width: 70%;
        }
        @include screen-max-width-576 {
        max-width: 100%;
        }
    }
    h1 {
      font: 700 2.5rem/3.125rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;
    @include screen-max-width-576 {
      font-size: 33px;
      }
    }
    a {
      color: white;
      text-decoration: underline;
    }
  }
  .P-sign-padding{
    padding: 35px;
    background-color: #f3f7fd;
    border-radius: 8px;
    @include screen-max-width-576 {
      padding: 35px 20px;
    }
    
    button {
      width: 100%;
      background-color: $main;
      color: $white;
      padding: 6px 30px;
      border: 1px solid $main;
      border-radius: 30px;
      transition: 0.3s;
      margin-top: 10px;
    }
    button:hover{
      background-color: $white;
      color: $main;
      transition: 0.3s;
    }
  }
  .G-section-sign-log {
    max-width: 37%;
    width: 100%;
    margin: 30px auto;
    @include screen-max-width-991{
    max-width: 50%;
    }
    @include screen-max-width-767{
      max-width: 80%;
      }
    @include screen-max-width-576 {
     max-width: 100%;
    }
   }
  .G-sign-log {
    label {
    border: 1px solid #c4d8dc;
    border-radius: 4px;
    padding: 8px;
    background-color: white;
    margin-bottom: 20px;
    input {
      width: 100%;
    }
    }
  }

  .P-agree {
    color: #555;
    text-align: start;
    a {
      color: #555;
      text-decoration: underline;
    }
  }
  //  SECTION SIGN UP-STYLE END

  //  SCTION ARTICAL START

   .P-section-tiyle{
     background-color: $main;
   }
  .P-project-title {
    max-width: 60%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 170px;
    padding-bottom: 140px;
    color: $white;
    @include screen-max-width-991 {
      padding-top: 140px;
      padding-bottom: 100px;
     
    }
    @include screen-max-width-767{
      padding-top: 100px;
      padding-bottom: 70px;
      max-width: 70%;
    }
    @include screen-max-width-576 {
      padding-top: 70px;
      padding-bottom: 50px;
      max-width: 100%;
    }
    h1{
      font: 700 2.5rem/3.125rem "Open Sans",sans-serif;
      @include screen-max-width-576 {
        font-size: 32px;
      }
    }
  }

   .P-secton-home {
    background-color: $gray01;
   }
  .P-text {
    padding: 30px 0;
  }
  .P-home {
    margin-right: 5px;
    color: #555;
    font: 400 1rem/1.625rem "Open Sans",sans-serif;
    a {
      text-decoration: underline;
      color: #555;
    }
    span {
      padding: 0px 5px;
    }
  }

  .P-section-image {
    padding: 70px 0;  
    @include screen-max-width-576 {
    padding: 15px 0;
    }
  }
  .P-section-tools {

    a {
      color: $main;
      text-decoration: underline;
    }
    h2 {
    color: $black01;
    font: 700 1.625rem/2.125rem "Open Sans",sans-serif;
    letter-spacing: -0.2px;
    }
    p {
      margin: 15px 0;
    }
      color: #555;
      font: 400 1rem/1.625rem "Open Sans",sans-serif;
  }

    .P-personal-square{
      padding-left: 15px;
      position: relative;
    }
    .P-personal-square:before {
    width: 7px;
    height: 7px;
    background-color: $main;
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    line-height: 1.625rem;
    }

    .P-impruving {
      padding: 70px 0;
      @include screen-max-width-991 {
      display: block;
      padding: 0; 
      }
    }

    .P-about{
      background-color: $gray01;
      margin-bottom: 60px;
      @include screen-max-width-767{
      margin-bottom: 40px;
      }
      @include screen-max-width-576 {
          margin-bottom: 15px;
      }
      p {
        font: italic 400 1rem/1.625rem "Open Sans",sans-serif;
        padding: 40px 40px 30px 40px;
        color: #555;
        font-size: 18px;
        line-height: 1.6;
        @include screen-max-width-576 {
            font-size: 15px;
        }
      }
    }

    .P-project {
      padding-bottom: 60px;
      @include screen-max-width-576 {
    padding-bottom: 15px;
      }
      h2 {
        font: 700 1.625rem/2.125rem "Open Sans",sans-serif;
        letter-spacing: -0.2px;
      }
      p{
        font: 400 1rem/1.625rem "Open Sans",sans-serif;
        padding: 15px 0;
      }
    button {
      margin-top: 25px;
      padding: 20px 35px;
      border-radius: 25px;
      border: 2px solid $main;
      transition: 0.3s;
      color: $main;
      background-color: transparent;
      font: 700 0.875rem/0 "Open Sans",sans-serif;
    }
    button:hover {
     background-color: $main;
     transition: 0.3s;
     color: white;
    }
    }
      .P-svg-backgaund {
        background-color: $gray01;
      }

  //  SCTION ARTICAL END

   //  SCTION TERMS START
 
   .P-section-terms {
     h2  {
      color: $black01;
      font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
      letter-spacing: -0.2px;
      padding-top: 50px;
      padding-bottom:  20px;
     }

     p,ul {       
      padding: 5px 0;
      color: #555;
      font: 400 1rem/1.625rem "Open Sans", sans-serif;
      a {
        text-decoration: underline;
        color: $main;
      }
     }
   }
   //  SCTION TERMS END

   //  SCTION PRIVACY START
   .P-private-padding {
     padding-top: 50px;
     @include screen-max-width-991 {
    padding-top: 25px;
    }
   }
   .P-landing-page {
     ol {
      list-style: auto;
      padding-left: 25px;
      color: #555;
      font: 400 1rem/1.625rem "Open Sans", sans-serif;
     }
   }

   .P-landing-page {
     h2 {
      color: #333;
      font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
      letter-spacing: -0.2px;
      padding-top: 50px;
      @include screen-max-width-991 {
      padding-top: 30px;
      }
      @include screen-max-width-576 {
        padding-top: 15px;
        }
     }
     p{
       padding: 10px 0;
       color: #555;
       font: 400 1rem/1.625rem "Open Sans", sans-serif;
     }
   }
   .P-data-block {
    @include screen-max-width-991 {
     display: block;
    }
   }
   .P-data-box {
    width: 48%;
    @include screen-max-width-991 {
    width: 100%;
    }
  }
  .P-button-submit {
   button {
     width: 100%;
     background-color: $main;
     color: $white;
     padding: 6px 30px;
     border: 1px solid $main;
     border-radius: 30px;
     transition: 0.3s;
   }
   button:hover{
     background-color: $white;
     color: $main;
     transition: 0.3s;
   }
  }
  .P-data-box {
    h2 {
      color: #333;
      font: 700 1.625rem/2.125rem "Open Sans", sans-serif;
      letter-spacing: -0.2px;
      padding-bottom: 15px;
    }
    p {
      color: #555;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
    padding-bottom: 15px;
    }
  }
   //  SCTION PRIVACY END

