// colors


$black                 : #000000;
$white                 : #ffffff;
$main                  : #5f4dee;
$white01               :#F7F5F5;
$white02               :#c4d8dc;
$black01               :#333;
$gray01                :#f3f7fd;
$gray02                :#dee2e6;








// Font sizes

$font-size-10          : 10px;
$font-size-12          : 12px;
$font-size-14          : 14px;
$font-size-16          : 16px;
$font-size-18          : 18px;
$font-size-20          : 20px;
$font-size-24          : 24px;
$font-size-32          : 32px;
$font-size-40          : 40px;


//page withs

$max-width-1200        : 1200px;
$max-width-991         : 991px;
$max-width-767         : 767px;
$max-width-576         : 576px;

// transitions
$transition            : 0.3s